@import '../../styles/variables';

.item {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;

  @media (max-width: 767px) {
    width: 100%;
    align-items: center;
  }

  span {
    color: $gray;
  }
}
